@charset "utf-8";
/* CSS Document */
body {
	background-color: #AC44C0;
}
#wrapper {
	background-color: aliceblue;
	width: 90%
}

header {
	background-color: #BD8BB7;
}

article {
	background-color: #64B567;
}

footer {
	background-color: #F0B573;
}


#logo {
	background-color: #CA857B;
	width: 100px;
		float: left;
}

nav {
	background-color: beige;
	width: 200px;
	float: left;
}
